body {
	background: #f7f1e9;

}

.card img {
	width: 100%;
}

.card {
	width: 80%;
}


.block1 ul {
	display: grid;
	width: 30%;
	grid-template-columns: 100% 100% 100%;
}

#content {
	display: grid;
	width: 100%;
	grid-template-columns: 15% 85%;
    align-items: start;
    justify-content: space-between;
}


li {
	list-style: none;
}


#chapters {
	float: left;
	padding: 10px 5% 0 0;
}

#chapters a {
	color: #930020;
	background: none;
	border: 0;
	text-decoration: none;
}
.card-body {
	color: #000;
}
.link-fff {
	color: #fff;
}