body {
	background: #fcf8dd;
}

#all {
	width: 400px;
	margin: 20px auto 0 auto;
	padding-bottom: 20px;
	border: 5px solid #7d0024;
	background: #fff;
	box-shadow: 5px 5px 10px #6d0012;
}

#all h1 {
	text-align: center;
}

#all a {
	text-decoration: none;
}

#all p {
	padding-left: 40px;
}


.form-control {
	width: 300px;
}

#knw label {
	margin-right: 30px;
}