{% extends "base.html" %}

{% block content %}
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/catal.css')}}" rel="stylesheet"/>
</head>
<div id='content'>
    <div id="chapters">
        <ul>
            {% for item in types%}
            <li><a href="#{{item.name}}"><h3>{{item.name}}</h3></a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="cont">
        <ul>
            {%for title in types%}
            <div class="block1">
                <li>
                    <h2 id='{{title.name}}'>{{title.name}}</h2>
                    <ul>
                        {% for item in dictionary[title.id] %}
                        <a class="link-fff" href="/{{type}}/{{item.id}}">
                            <div class="card" style="margin-bottom: 20px;">
                                <img src="static/catalog/{{type}}{{item.id}}.png" class="card-img-top"
                                     alt={{item.title}}>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.title}}</h5>
                                    <p class="card-text">цена: {{item.short}}р</p>
                                </div>
                            </div>
                        </a>
                        {% endfor%}
                    </ul>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
